[2019-02-06 17:40] Bkucera opened #1 "Report includes a bunch of pending tests"
since we queue `n` number of tests regardless of if they need a retry, the report will include tons of `pending` tests.

[2019-02-06 18:23] JPHamlett1993 opened #2 "False success if before fails"
This example gives a successful run for me

[code]

Output
[code]

[2019-02-06 19:51] Bkucera commented on #2
released in `1.0.3`

[2019-02-06 19:51] #2 closed

[2019-02-07 15:39] Bkucera opened #4 "Retry failures in beforeAll"

[2019-02-08 18:45] Bkucera opened #5 "support done() callbacks"

[2019-02-12 18:34] Bkucera commented on #5
fixed in `3.1.0`

[2019-02-12 18:34] #5 closed

[2019-02-12 18:34] Bkucera commented on #4
fixed in `3.1.0`

[2019-02-12 18:34] #4 closed

[2019-02-12 18:34] Bkucera commented on #1
fixed in `3.1.0`

[2019-02-12 18:34] #1 closed

[2019-03-06 17:57] Lian-LF opened #6 "Retry doesn't help with Cypress timeout error."
Cypress sometimes throws the error for no reason:
![image](https://user-images.githubusercontent.com/20455765/53902615-80236080-400f-11e9-88d9-660c347e0f3d.png)

While the page is actually loaded.
I thought the retry plugin will address that issue. But when it retries, same thing still throws after 60s.
Are we able to refresh the page when it retries?

[2019-03-07 21:51] Bkucera commented on #6
@Lian-LF I suspect you are doing `cy.visit` inside a `beforeAll/before`, not in the test or a `beforeEach`?

Retries will not run a `beforeAll` again because we want to guarantee `beforeAll` will only be run once.

Is this the case?

[2019-03-08 14:19] Lian-LF commented on #6
@Bkucera ehh..no, the `cy.visit` is inside test, and I did not use `beforeEach` at all.
![image](https://user-images.githubusercontent.com/20455765/54033817-512dfb80-4183-11e9-96c8-2d518652b1dd.png)

[2019-03-08 18:37] Bkucera commented on #6
@Lian-LF I see, I thought you were saying the `cy.visit` was not getting ran on retry.

To clarify, the `cy.visit` gets ran again, but fails in the same way as before?

Do you have a reproducible example or a video of the test run?

[2019-03-08 19:22] Lian-LF commented on #6
@Bkucera  yes, the `cy.visit` ran again but fails in the same way. And I mailed the video to hello@cypress.io. Thx.

[2019-03-08 19:41] Bkucera commented on #6
I saw the video. It seems your application is either not firing the load event, or cypress is missing it for some reason.

I see no reason why this would be an issue with this plugin, so I'm going to close this.

Feel free to open an issue in the main repo if you think this is a Cypress bug.

[2019-03-08 19:41] #6 closed

[2019-03-24 20:00] lukeapage commented on #6
Is the video showing the load event failing 3x (if that is the retry number) or is the plugin not retrying when visit times out?

[2019-03-24 20:03] lukeapage opened #7 "retry afterEach"
Thanks for the plugin - a great step forward - it seems overall to work for us, except.. we have some assertions in afterEach which cause failures.. and we want to retry.

Are there any plans to add support for this? Or any ideas to always run an assertion on every test other than calling a custom command in every it() ?

[2019-03-25 19:51] Bkucera commented on #7
@lukeapage I have only ever used an `AfterEach` for teardown code, but I understand why you would want an assertion there. I'll give this some thought.

You could try proxying the `it` method like so:
[code]

 but then you'll lose calls to `.only/.skip` unless you add more complexity to the `itWithTest` function.

[2019-03-25 20:31] lukeapage commented on #7
Thanks for the work-around!
I can apply this patching to the global it since thats where I previously had the afterEach..

[code]

[2019-03-25 21:11] lukeapage opened #8 "Problems with disabled (xit) tests"
We have a spec file with a single xit test in it and it turns into a failed test after applying the plugin:

![image](https://user-images.githubusercontent.com/309321/54954407-e46c7c80-4f4a-11e9-83e6-a6b50b18bdb9.png)

[2019-03-25 21:21] lukeapage commented on #8
Sorry, spoke to soon.

[2019-03-25 21:21] #8 closed

[2019-03-25 21:35] Bkucera commented on #7
@lukeapage sounds like a good solution. I would also recommend putting a Cypress.log in there like so, to quickly identify where a failure is.
[code]

[2019-04-03 11:26] deshdeep-airwallex opened #9 "before or beforeAll"
Hey @Bkucera,

Firstly appreciate for coming up with this plugin it's a big help.
I have more of a question as Cypress uses Mocha and there is no
`beforeAll` in Mocha why would Cypress identifies it as beforeAll? Please, refer the image below:

![image](https://user-images.githubusercontent.com/27190318/55475525-e2e43800-565f-11e9-82bd-d8e5559fa799.png)
As you have specified in README `beforeAll`

[2019-04-03 13:36] Bkucera commented on #9
Hi, we use the term beforeAll because it's more clear than saying before, but I can see how that's confusing.

A before is only ever ran once, not once per test like a beforeEach, and you shouldn't be putting test code like assertions in there. It's meant for one-time setup code. For this reason, we do not retry it. But then again I may be misunderstanding you.

I also notice you have synchronous

[2019-04-03 20:02] deshdeep-airwallex commented on #9
Hi @Bkucera

Thanks for looking in to it. My intent is to create a single user per describe block and login once. As you can see I create a user followed by some other stuff and login that's just to avoid login for each tests.

`let LOCAL_STORAGE_MEMORY = {};

Cypress.Commands.add('saveLocalStorage', () => {
  Object.keys(localStorage).forEach((key) => {
    LOCAL_STORAGE_MEMORY[key] = localStorag

[2019-04-12 17:33] Bkucera commented on #9
@deshdeep-airwallex I see, so which hooks would you like to retry? the `before` hook?

[2019-04-29 04:28] lukeapage opened #10 "inconsistent screenshot filenames"
With the older retry mechanism we could clear screenshots for a spec before retrying that spec.. however with this plugin, old screenshots are not deleted before retrying the spec, which means the new screenshot just gets (1) after it and you end up with different screenshots than when the tests pass without retries

[2019-04-29 04:33] lukeapage commented on #10
Note this is not about the (failed) screenshots which I am fine with, its about cypress not overwriting screenshots but saving to a new file with an appended (1)

[2019-04-29 12:41] Bkucera commented on #10
@lukeapage thanks! I think we should rename the screenshots on retry, so we don't lose them. Maybe a naming scheme with (attempt 1) or something

[2019-04-29 12:43] lukeapage commented on #10
Cool, that would work for me (easy to ignore “(attempt...”)

[2019-04-29 22:44] Bkucera commented on #6
@lukeapage  the video shows the visit command failing 3 times

[2019-04-30 12:50] Moejoe90 opened #11 "Upload All Failed Videos"
is there a way to upload all videos instead of only the last one?
As the last video for our case is not always the best indicator regarding what happened

[2019-04-30 14:17] Bkucera commented on #11
@Moejoe90 I'm not sure what you mean, there should only be one video per spec run

[2019-04-30 16:40] Moejoe90 commented on #11
In a regular case where there is no retry on fail. Cypress will upload a single video since it's a single run.

But when i use retry for example three times i get still one video even though it's three runs.

So it would be cool to either

1 have one big video for all the runs
2 have a separate updated video for each run

[2019-04-30 18:25] Bkucera commented on #11
@Moejoe90 I think you are misunderstanding what the plugin does, it will re-run the test in place, and not kick-off a new run. The retried test is enqued directly after the failed one

[2019-04-30 18:26] Bkucera commented on #11
so your #1 is correct, it is one big video

[2019-04-30 18:26] #11 closed

[2019-05-01 16:52] Bkucera commented on #10
see my edited comment here https://github.com/cypress-io/cypress/pull/3968#issuecomment-487565281

Looks like we will not rename any screenshots after they're saved, so you may have to grep for the screenshots with the final attempt number

[2019-05-02 09:06] lukeapage commented on #10
I did it with this plugin with this:

[code]

[code]

[2019-05-07 03:31] minams2 opened #12 "i tried RETRIES as specified in the PR. None of them seems to be working"
Do we have any specific example of using retry if the spec fails?

[2019-05-07 04:04] Bkucera commented on #12
There are examples in the readme

[2019-05-07 04:09] #12 closed

[2019-05-13 12:01] alexburlton opened #13 "TypeScript - Uncaught TypeError: Cannot redefine property: currentTest"
Getting the error `Uncaught TypeError: Cannot redefine property: currentTest` when trying to use this plugin. All of our specs etc are written in TypeScript, and transpiled down to javaScript following [this guide](https://docs.cypress.io/guides/tooling/typescript-support.html#Transpiling-TypeScript-test-files) (the webpack version).

The problem is in this code:

[code]

I think the fix is to jus

[2019-05-13 19:15] Bkucera commented on #13
Fixed in [`1.2.1`](https://github.com/Bkucera/cypress-plugin-retries/releases/tag/v1.2.1)

[2019-05-13 19:15] #13 closed

[2019-05-22 15:42] Postavshik opened #15 "'declare' is required for the namespace"
I have installed the plugin and it has compiling issue

<img width="1341" alt="2019-05-22_1038" src="https://user-images.githubusercontent.com/21285622/58188151-c044c780-7c7d-11e9-859d-7d2bc1b1faab.png">

It s easy to fix just by adding 'declare' to index.d.ts in the node_module
after that, everything is working
![2019-05-22_1040](https://user-images.githubusercontent.com/21285622/58188339-0863ea0

[2019-05-22 16:34] Bkucera commented on #15
fixed in [`v1.2.2`](https://github.com/Bkucera/cypress-plugin-retries/releases/tag/v1.2.2)

[2019-05-22 16:34] #15 closed

[2019-05-23 20:55] #9 closed

[2019-06-26 10:03] mhorne89 opened #16 "Retry not being triggered"
Hi,

This might just be me being stupid but neither the README or Cypress documentation is very clear on this.

I have added `Cypress.env('RETRIES', 2);` to my spec files but it does not seem to be triggering retries. Do I also need to add something to the `/cypress/plugins/index.js` file for it to work?

Again, sorry if this is a stupid/obvious question but I am kind of new to Cypress and the doc

[2019-06-27 19:02] Bkucera commented on #16
https://github.com/Bkucera/cypress-plugin-retries#installation

[2019-06-30 00:05] Bkucera commented on #16
Leave a comment if you are still having issues, closing for now

[2019-06-30 00:05] #16 closed

[2019-07-05 20:43] jhays-nhaschools opened #17 "Because elements shift slightly when highlighted, this can cause flickering."
1) In the UI, have a run that triggers some retries.
2) Click on one of the greyed out elements that has another greyed out element above it.
3) Put your cursor on the boundary between the two

Actual:
It flickers back and forth as to which is selected, as shown in this gif (although the speed is not captured, due to the low frame rate).

![9D1732A9-D1E2-4F3F-BEDE-521CD8222580](https://user-images

[2019-07-30 17:17] proCrichard opened #18 "Plugin seems to break test.state property in cy.state('runnable') of a test suite"
When a test fails and is retried, that test's details in the `cy.state('runnable')` object is _somehow_ broken.  From an example I have here, I can see in the cypress logger that my test has failed:

![Screen Shot 2019-07-30 at 1 13 50 PM](https://user-images.githubusercontent.com/42382753/62150403-eca74080-b2cb-11e9-8194-e90ad0cd496e.png)

However the `cy.state('runnable')` output on that test co

[2019-07-30 18:08] Bkucera commented on #18
@proCrichard could you mention what plugin you are using?

[2019-07-30 18:13] proCrichard commented on #18
I wrote a custom plugin to send test results to datadog.

Starts with an `after` hook:
[code]

Which triggers this event listener:
[code]

[2019-07-30 18:49] Bkucera commented on #18
did your test that failed (but had state: passed) fail from a beforeEach hook or in the test body?

What retry number do you have enabled?

[2019-07-30 18:50] proCrichard commented on #18
Retries set to 2
I had the same outcome when I forced a test to fail in:
- `before()` hook
- `beforeEach()`
- test body

[2019-07-30 18:52] Bkucera commented on #18
@proCrichard alright, and what version of cypress and this plugin?

I just added your after() to my spec for this project, and I am getting the correct state set on the runnables

[2019-07-30 18:56] proCrichard commented on #18
[code]

[2019-07-30 19:00] Bkucera commented on #18
@proCrichard ok, I think I am reproducing it now. Thanks

[2019-07-30 19:01] proCrichard commented on #18
Ok great. I appreciate you jumping on this for me.

[2019-07-30 20:42] Bkucera commented on #18
@proCrichard after spending a couple hours on this, I'll need to edit the Cypress source directly to fix this, but I have a PR to do so here https://github.com/cypress-io/cypress/pull/3968

I would recommend using the module API to pull results out instead of using runnable instances. https://docs.cypress.io/guides/guides/module-api.html#cypress-run. However, I know that can be cumbersome

[2019-08-09 11:57] nikhilesh009 opened #19 "Jenkins test report shows test passed but in actual it failed"
when I ran the test on the test runner if a test failed after retires, it shows test failed, but i ran on Jenkins test failed but in the test result, it shows test passed but screenshot generated that shows test failed.
is it possible that generated screenshot shows the first attempt failed the test ?

[2019-08-09 16:31] Bkucera commented on #19
@nikhilesh009 is it the last test in the suite (last `it` in a `describe` block for example)? There may be some edge-cases where the logic is off on knowing whether a test will re-run. I have changes in cypress-core that fixes this, but not sure it can be fixed in this plugin

[2019-08-12 08:03] nikhilesh009 commented on #19
Yes, its last test in a describe block.

[2019-08-12 14:35] Bkucera commented on #19
@nikhilesh009 I wasn't able to reproduce this after trying different combinations of nested tests with various hooks. I would be happy to look more into this if you have a minimal reproducible spec file that demonstrates the problem.

[2019-08-19 02:48] PansyLi commented on #19
hi, i meest same issue in CI, the case was failed, but in report it is pass!

[2019-08-19 02:55] lavender21 commented on #19
Also, have the same issue in CI, we use buildkite. Any update about this issue?

[2019-08-19 08:15] nikhilesh009 commented on #19
I was concern about test passing/failing, so i intentionally failed my test and then test on Jenkins, On Jenkins test report it shows correctly, the test failed, and in output 3 screenshot of the failed test.
but still, i am not sure its always the case.I am testing always third parties supplier, and sometimes it's up-down.

[2019-08-19 18:08] Bkucera commented on #19
Can anyone post the simple spec code that can reproduce this? I don't have time to  guess and check dozens of combinations of passes/failures with/out hooks and such.

[2019-08-20 07:27] PansyLi commented on #19
![image](https://user-images.githubusercontent.com/47636396/63326445-daff0900-c35e-11e9-8834-d0deb1a973e4.png)
Please check my screenshot, click failed, so the case is failed, but the report show the case is pass.

[2019-08-20 07:42] PansyLi commented on #19
Hi @Bkucera  I found the issue, when i add after hook to clear the cookies, the case will be marked as pass, even it is failed.

[2019-08-29 21:17] Bkucera commented on #19
@PansyLi awesome, I'll try to reproduce this again

[2019-09-05 18:16] drewbrend opened #20 "Error in before() block is ignored if RETRIES is greater than zero"
In our case: we request some test data in a `before()` block using `cy.request()`, then use that data in our tests.  If the request to get the data fails the test is guaranteed to fail so it should not execute.  When we use the retries plugin the test does execute, then shows the error that occurs because we don't have the test data.  The actual error causing this is that the service we were reach

[2019-09-06 03:47] Bkucera commented on #20
thanks @drewbrend, I will take a look at this along with #19

[2019-09-06 18:53] Bkucera commented on #17
The ui part of this plugin isn't very robust, and it will be deprecated as soon as official retries support for cypress lands, so closing this.

[2019-09-06 18:53] #17 closed

[2019-09-11 00:54] Bkucera opened #23 "Hide command logs instead of 'fading them out' with orange `x`"
Allow configuration to hide previous attempts' command logs, so I only see last attempt's command logs (reduces visual clutter)

[2019-09-11 18:19] #19 closed

[2019-09-11 18:19] #20 closed

[2019-09-11 18:19] #23 closed

[2019-09-11 18:22] Bkucera commented on #20
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-plugin-retries)
- [GitHub release](https://github.com/Bkucera/cypress-plugin-retries/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-11 18:22] Bkucera commented on #23
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-plugin-retries)
- [GitHub release](https://github.com/Bkucera/cypress-plugin-retries/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-12 11:08] gituser3000 opened #24 "Show number of retries in headless mode"
Is there a way to know a number of retries for specific test in headless mode?

[2019-10-05 01:11] dipakspawar opened #25 "npx cypress run stucked at "Starting: cypress" indefinitely"
When I run "CYPRESS_RETRIES=2 npx run cypress", the execution gets stucked indefinitely with message  "starting cypress".

Am I doing something wrong?
Machine: Macbook pro
cypress version: 3.4.1

Logs:

npx: installed 5 in 1.473s
Watching /Users/dipak_pawar/repos/frontend/test-loop and all sub-directories not excluded by your .gitignore. Will not monitor dotfiles.
Found & ignored ./.cache/npm/_npx

[2019-10-10 17:10] id-dan opened #26 "Cypress.currentTest.retries(2); - re-run all steps of Scenario"
I use [cypress-cucumber-preprocessor](https://github.com/TheBrainFamily/cypress-cucumber-preprocessor)

and added `Cypress.currentTest.retries(2);` to `Then` and I thought `currentTest.retries()`  re-run only `Then` instead of `Scenario`

![image](https://user-images.githubusercontent.com/52101871/66590140-c1c54c80-eb98-11e9-91cc-a05bd90f9bb3.png)

![image](https://user-images.githubusercontent.co

[2019-10-10 19:09] Bkucera commented on #26
@id-dan as explained in the readme, this plugin retries the entire test. It appears a test is equivalent to a scenario in cucumber

I'm closing since this is expected behavior, but feel free to comment below

[2019-10-10 19:09] #26 closed

[2019-10-15 17:24] Bkucera commented on #25
This plugin should not affect startup, why are you doing `npx run cypress`  and not `npx cypress run` ?

[2019-10-15 17:59] psurana0329 opened #27 "Cypress retry stuck for last test when running cypress tests in parallel on docker"
I have a cypress suite where we are running bunch of cypress test files with 2-3 tests each and for the last test if it fails then its retries and that is stuck forever

[2019-10-15 20:41] Bkucera commented on #27
@psurana0329 this is likely. Do you have a reproducible example you can give?

[2019-10-15 20:41] #25 closed

[2019-10-17 17:44] psurana0329 commented on #27
i can repro this consistently, basically symptom i am seeing is that if i have a cyrun file that is executing a bunch of specs parallely and the last one if failed then is stuck in a loop. Any idea how could we resolve this.
i added :
require('cypress-plugin-retries');
beforeEach(() => {
	Cypress.env('RETRIES', 2);
});

☝️ logic is in index.js which assures 2 retries for all the tests i am executi

[2019-10-17 17:49] Bkucera commented on #27
@psurana0329 this is not a reproducible example. Here's an example of one, which includes the full code needed to reproduce the problem: https://github.com/Bkucera/cypress-plugin-retries/blob/master/cypress/tests/e2e/after-hook-fail.spec.js

[2019-10-21 16:55] Bkucera commented on #27
@psurana0329 yes, this is exactly what I need, could you provide it? I need more information than just what's in the beforeEach. Like a simple 2-3 test "skeleton" example spec that reproduces the issue. The "running a series of spec files in parallel" is what's making this issue ambiguous and non-reproducible

[2019-10-23 23:17] psurana0329 commented on #24
Can we atleast add the support to see the retries in Dashboard for chrome run and headless mode

[2019-10-23 23:33] psurana0329 opened #29 "Need to be able to track the retry attempt in Cypress Dashboard"
On Cypress Dashboard , I only see the failed run screeenshot whereas there is no other indicator that the test was retried or not , Also the output.txt has no logs for the same.

[2019-10-24 15:29] Bkucera commented on #24
We will support logging to console and retries shown in dashboard when the official retries feature PR gets merged, see https://github.com/cypress-io/cypress/pull/3968

[2019-10-24 15:32] Bkucera commented on #29
see #24 , unfortunately not something that can be done as a plugin at the moment. For input related to the retries feature [please refer to this issue for updates about official cypress retry support](https://github.com/cypress-io/cypress/issues/1313)

[2019-10-24 15:32] #29 closed

[2019-11-05 08:46] baronvonbirra opened #31 "Show Error log for each retry"
Hi there!
We have our CI pipeline configured with _CYPRESS_RETRIES: 2_. In case the 3 of tries fail, just the last error is shown in the log; but is there a way to show all errors (the 3 errors, in our case)?

Thanks!

[2019-11-05 15:30] Bkucera commented on #31
@baronvonbirra hi, you're talking about the terminal reporter correct?

[2019-11-15 20:59] eyup-aydin opened #32 "Conditional logic based off of currentRetry?"
The issue is: I want to reload the URL for only my failing tests.
[code]
When I run with that way, it works. However, it `reload`s every tests. Is it possible to reload only for retry tests?

[2019-11-16 04:38] Bkucera commented on #32
Yes, I believe you can access the amount of retries off of `currentTest`

haven't tested, but it may be `currentTest.retries()` that will return you the current retry, and you can `if` on that

[2019-11-17 01:41] eyup-aydin commented on #32
Unfortunately, it is not working. Acting like there is not any condition and it runs `reload()` every time even if for the first run.

[2019-11-17 23:33] Bkucera commented on #32
@eyup-aydin have you tried logging out what `Cypress.currentTest.currentRetry()` is? I'm not exactly sure what you've tried and what you don't think is working

[2019-11-18 14:50] eyup-aydin commented on #32
I did this way. Am I doing wrong? Thank you for your time and support.
[code]

[2019-11-18 15:29] Bkucera commented on #32
@eyup-aydin yes, you're calling `retries` instead of `currentRetry`

I've tested this and it works, so closing for now

[2019-11-18 15:29] #32 closed

[2019-11-18 22:30] samjeffress commented on #31
I think it'd be useful to have some terminal output so it's we can tell which jobs are retrying

[2019-11-18 22:34] Bkucera commented on #24
actually, we can log out retries in the console. I'll work on this

[2019-11-18 22:35] Bkucera commented on #31
@samjeffress see #24

[2019-11-20 06:54] svishnevskiy opened #34 "The retry number is not applied if it is specified in cypress.json in lower case"
I configured the number of retries via cypress.json as follows:
{
  "env":
  {
    "retries": 2
  }
}

The plugin did not rerun failed tests in this case. However, when I changed the property name to RETRIES the plugin worked fine.

[2019-11-20 16:01] Bkucera commented on #34
thanks @svishnevskiy, I've updated the readme

[2019-11-20 16:01] #34 closed

[2019-11-21 07:14] edupeeth opened #35 "Doesn't seem to be working with cypress cucumber setup"
Hey @Bkucera ,

I totally appreciate your efforts and vision coming up with this much needed plugin for cypress. Infact, I believe all the e2e test frameworks must have it for sure.

I have some tests in my suite which seem/behave flaky no matter how hard I have tried to do anything/everything to fix them, but each time some would fail randomly and pass on rerun. I came across your plugin and felt

[2019-11-21 07:40] edupeeth commented on #35
It works after I added
[code]

And
[code]
to

`cypress.json`

Thanks a ton for coming out with the plugin.

[2019-11-21 07:40] #35 closed

[2019-11-21 21:26] Bkucera commented on #29
this will be done in #36

[2019-11-25 01:49] MadLittleMods opened #37 "Retry until failure"
As suggested in https://github.com/cypress-io/cypress/issues/5665

When debugging flakey, intermittent failures, it would be nice to just keep retrying the tests until something fails. I don't want to keep pressing re-run manually.

Add a way to switch from "retry until success" to "retry until failure"

[2019-11-25 11:46] sbattistin opened #38 "Module cannot be found when running in Docker"
When trying to run the tests in a Docker container, the module `cypress-plugin-retries` cannot be found and the tests fail.

The output from the tests is the following.
[code]
I tried both to install the module globally and with `npm install` from the `package.json` file but the error still shows up.

I need this to be able to run the cypress tests with Jenkins using Docker.

I attached a simple v

[2019-11-25 13:52] #38 closed

[2019-11-25 13:53] sbattistin commented on #38
Closed due to user (me) error

[2019-11-25 21:43] Bkucera commented on #37
@MadLittleMods Nice idea you're welcome to attempt a PR, otherwise I may not get around to it

[2019-11-25 22:24] #24 closed

[2019-11-25 22:27] Bkucera commented on #24
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/cypress-plugin-retries)
- [GitHub release](https://github.com/Bkucera/cypress-plugin-retries/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-27 08:33] baronvonbirra commented on #31
Hey @Bkucera! Yes, I mean the terminal reporter, sorry!

The thing is, our scenarios sometimes fails (it could be a bug, it could be an issue after a change in the code, or even a timeout in the pipeline), and then they retry. But we have seen that sometimes, because of how our tests are designed, they fail in the retry because of another thing: for example, we are not expecting to see something t

[2019-11-27 11:54] gabbersepp opened #39 "Cross origin error"
Hey,
we discussed here https://github.com/cypress-io/cypress/issues/2448 a bug that produces a "Blocked a frame with origin from accessing a cross-origin frame". I found a sample were this is very good reproducable.
But I am not able to reproduce this without the retry plugin.

So I thought it would be best to open an issue here, too. Maybe you can without effort check if this happens because of y

[2019-11-27 14:56] Bkucera commented on #31
@baronvonbirra it could be sensible to hold onto the first error and if all retries fail, show that one instead of the last one. That way you'll most likely see the real failure.

[2019-11-27 15:31] baronvonbirra commented on #31
@Bkucera yes, that's a good idea and totally fits our needs. Is there currently a way to achieve it? 🤔

By the way, I just upgraded to v.1.5.0 and introduced the retry logging, and it's really nice. If we could get the error log for the 1st fail as you say, we will be reaaaally happy. 😄

[2019-12-05 19:24] psurana0329 commented on #31
upgraded the plugin retry version and attempting to add retry logging but for some reason but doing
module.exports=(on) => {
     require('cypress-plugin-retries/lib/plugin')(on);
}

shows nothing about retries on my terminal, All i see is the barrage of get and post requests

[2019-12-05 19:28] Bkucera commented on #31
@psurana0329 this is off topic, please open an issue.

[2019-12-05 19:34] psurana0329 opened #41 "not seeing the retry logging"
upgraded the plugin retry version and attempting to add retry logging but for some reason but doing
module.exports=(on) => {
require('cypress-plugin-retries/lib/plugin')(on);
}

shows nothing about retries on my terminal, All i see is the barrage of get and post requests

[2019-12-05 19:39] Bkucera commented on #41
@psurana0329 the logging will only happen when mocha output is being logged, which is only in `cypress run` mode.

[2019-12-05 19:39] #41 closed

[2019-12-06 14:06] gumieniakm opened #43 "plugin fails with "Cypress is not defined" when using Typescript"
After installing plugin in a project that uses Cypress e2e tests written in Typescript, Cypress fails with "ReferenceError: Cypress is not defined" in /lib/support.js:3:15
![image](https://user-images.githubusercontent.com/58597333/70327620-7dbc9400-1837-11ea-8cb7-9c23940a7d81.png)

Steps to reproduce:
`ng new angular-test` - empty app
`ng add @briebug/cypress-schematic` - schematic that installs

[2019-12-06 14:37] Bkucera commented on #43
This isn't a typescript error, notice "ReferenceError" and the stack trace.

I believe you've misconfigured the plugin, make sure you require the plugin in the "cypress/support"  folder and follow the optional installation instructions after that.

[2019-12-06 14:37] #43 closed

[2019-12-10 20:22] psurana0329 commented on #31
Do we know an eta for this? I am extremely interested in seeing the error for first failure too?

[2019-12-10 20:23] psurana0329 opened #44 "Retry logging in Cypress Dashboard and output.txt for a test in cypress dashboard"
Retry logging in Cypress Dashboard and output.txt for a test in cypress dashboard

[2019-12-11 15:14] #44 closed

[2019-12-20 17:26] github-actions[bot] opened #46 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-12-21 02:20] #46 closed

[2019-12-24 19:52] kriegster108 opened #48 "ReferenceError: Cypress is not defined when trying to use cypress-run"
Following the installation instructions accordingly. I am using latest version of cypress and am getting this error"

[code]

my current index.js:

[code]

[2019-12-24 20:07] kriegster108 commented on #48
human error errory.

[2019-12-24 20:07] #48 closed

[2020-01-13 18:15] aali0730 opened #50 "Option to retry beforeAll(before) hook"
Sometimes the cy.visit() command is flaky and does not fully load the page and fails. We run this command in the beforeAll(before) hook and then run our tests. If there was an option to retry the beforeAll(before) hook when it fails that would be great.

[2020-01-21 13:49] pedrocbras commented on #38
@sbattistin Hey Stefano,

I'm getting the same error you had when running my CI build. How did you fix it?

[2020-02-04 17:41] fr0 opened #51 "Don't run on cypress open"
I think this plugin should only take effect on `cypress run`, not on `cypress open`.
When using `cypress open`, having the plugin makes it harder to debug problems because it starts repeating the test after an error and scrolls past the error.

[2020-02-07 19:26] Bkucera commented on #51
@fr0 agreed. I'll turn that off by default and add a configuration variable to turn it back on

[2020-02-10 16:33] dialex commented on #51
Any update on this? I just finished installing and configuring it and the tests simply don't run on `cypress open`. If I do `cypress run` then tests run and I can see retries as expected. There are no errors on console or browser.

[2020-02-10 18:34] Bkucera commented on #51
@dialex if you remove the retries plugin does cypress work as normal?

[2020-02-11 10:02] dialex commented on #51
Oh no, you're right, even without this plugin the tests don't run on `cypress open` 😵😱

[2020-02-11 14:37] Bkucera commented on #51
@dialex I believe its a problem with Chrome 80.

[2020-02-18 15:30] muratkeremozcan commented on #50
would love to have this

[2020-02-18 15:46] partikus commented on #48
@kriegster108 what was the issue? I'm having the same issue but no idea what's wrong.

[2020-02-18 15:50] partikus commented on #48
nvm, I was trying to import that under `cyperss/plugins/index.js` where Cypress is not initialized yet

[2020-02-20 07:32] volkanogretmen opened #52 "Retry with option to set intervals"
I love using this plugin! The only that could make it even better from my point of view is the need to set an interval or "cool-down-period" before commencing the next retry.

**So this:**
`Cypress.currentTest.retries(3)`

**Could perhaps look like this:**
`Cypress.currentTest.retries(3, 3000)`

Where `3000` stands for `ms` to wait until next retry is kicked-off.

[2020-02-21 13:26] YemiYuma opened #53 "Cannot find module 'cypress-plugin-retries' from '/cypress/support'"
When I run cypress with this add-on locally, it works perfectly without any issues at all, however for some reason when I run cypress in a container through Jenkins, I seem to be getting the following error in my console:

`'cypress_1  | Error: Cannot find module 'cypress-plugin-retries' from '/cypress/support'`

This is my **cypress/support/index.js** file:
[code]

This is my **cypress.json** fil

[2020-02-21 13:40] YemiYuma commented on #53
Problem solved - was an error on my part :)

[2020-02-21 13:40] #53 closed

[2020-02-27 19:43] gilgold commented on #31
Hey, I am using a custom reporter and emits test results to our own dashboard and we need to have it capture reties too (and group them by some unique ID if possible) - any way to enable reporting of all failed retries? that would be very helpful!

[2020-02-28 17:34] Bkucera commented on #31
@gilgold I didn't want to hack in emitting extra events to try to keep the surface area of this plugin small.

But, if you want to hack on top of this, you can handle the `logRetry` task this plugin adds as done here https://github.com/Bkucera/cypress-plugin-retries/blob/master/lib/plugin.js

[2020-02-28 17:35] Bkucera commented on #31
also, @gilgold off topic. please open an issue

[2020-02-28 20:24] Bkucera commented on #53
@YemiYuma glad to hear that, what was the problem?

[2020-02-28 20:39] Bkucera commented on #52
here's an example of how to do that:
[code]

[2020-02-28 20:41] #52 closed

[2020-03-12 16:16] Jacek-fstack opened #54 "Retry only if specific error happens?"
Hello!
I have a case in which tests fail once every 100-300 runs because the "load" event was not fired. This is some cypress bug that's not going to be fixed any time soon as there is no 'reliable way to reproduce it'.
So - is there an option with retries plugin that I would wrap only the initial cy.visit to be retried if it fails?
I don't want to retry all tests, because we need to see 'flakes',

[2020-03-13 14:46] Bkucera commented on #54
you might be able to listen on the 'fail' event and if the error matches your criteria, set `Cypress.currentTest.retries(1)`

[2020-04-14 08:29] Livian95 commented on #9
Hey @Bkucera , I really appreciate your work, this plug-in basically solved almost all of our problems on fleaky tests ( blame the application ). But i see you did not answer to this, can you please tell me if there is any possible way to retry a beforeAll hook ? The reason I want to retry it it's because sometimes because how the app is built, I receive 502's and 401's, and there is no issue ther

[2020-04-15 15:39] symon-skelly commented on #9
I would also love to see this, especially with the firefox cookie issue that is occurring at the moment.

https://github.com/cypress-io/cypress/issues/6375

Every other test fails for me using firefox at present.

If I re-run the test after the error occurs it works perfectly, how difficult would it be to allow the beforeEach(before) function to be retried?

[2020-04-23 14:52] Bkucera commented on #9
@symon-skelly the beforeEach functions are currently retried. beforeAll are not.

[2020-04-28 16:25] jprealini opened #58 "Retries duplicated in console output"
I just started to use the plugin today, everything works fine, only issue I see is that each retry gets two entries in the console...

[code]

Any hint how I can solve this?

[2020-05-08 18:23] SlavikDMI opened #59 "Plugin dont repeat test"
Its happen sometimes..
Screen - http://joxi.ru/YmE07yOcJK9pgr
Cypress has stopped..
Time continue increment
But test has not rerun..

[2020-05-14 06:21] Bkucera commented on #59
hmm, I don't have time to look into this unless I can reproduce it. Test-retries support in cypress core is being released very soon enough however.

[2020-06-04 12:25] GayathirideviVenkateswaran opened #60 "Option to retry after all hook"
Some times the savehar file task generation fails in after hook which makes entire test fails. It will be great to have retry on after all hook.

[2020-06-17 12:59] pitgrap opened #61 "Missing/wrong icon"
Hi, nice plugin, works as expected.

I'm running my tests in Chrome with Cypress 4.8.0, but the orange icons are not displayed. Maybe missing in the icon font, removed in a new Cypress release?

See screenshot:
![screenshot_225](https://user-images.githubusercontent.com/227391/84900884-018aef00-b0ab-11ea-9182-d3c501fae97d.png)

[2020-06-24 07:00] kasperpeulen opened #62 "Alias from before hook not available after retrying"
[code]

However, when the test fails, it and retries it says:

[code]

So for some reason the test alias context is lost with this plugin.
Another option would be that we can say that the plugin runs the before hook again for retries.

[2020-06-24 11:23] kasperpeulen commented on #62
Needs to be a beforeEach hook, closing this.

[2020-06-24 11:23] #62 closed

[2020-06-25 22:47] AlexA-1976 opened #63 "Doesn't log retry in Azure DevOps UI"
I notice it works, because in the text log, I see the retries. However, they don't appear in the Azure DevOps Test results UI, like they do when I run Selenium tests. Is that something that requires extra development?

[2020-06-26 01:32] kylane commented on #7
Would love to get more info on how to implement this?

[2020-06-26 11:54] zbigniewkalinowski opened #64 "cypress-plugin-retries causing problems with hanging assertions"
**Current behavior:**

Tests running from console are hanging on failed assertions while using cypress-plugin-retries
As you can see on printscreen this test lasting 645.30s, but it's hanging to eternity

![crash](https://user-images.githubusercontent.com/34089686/85854274-61bd1780-b7b4-11ea-8bd6-f7d9af3c672a.png)

**Desired behavior:**
Test should retry after crash

**Versions:**
Cypress: 4.9.0
c

[2020-07-08 06:57] reach2jeyan opened #67 "Unable to use CYPRESS_RETRIES in windows 10"
I installed CYPRESS_RETRIES both as a dev dependency and as global and tried to run within and outside project. However, per usage `CYPRESS_RETRIES=2` returns
[code]

[2020-07-08 21:36] ryanvanbelkum commented on #64
I am seeing this issue as well. When running tests on Cypress 4.x, we often see tests hang for hours.

[2020-07-17 11:42] lukeapage commented on #64
I think this started happening around cypress 4.4.1 (don't know exact version)

[2020-07-17 13:30] lukeapage commented on #64
It always happens on the 3rd retry.

Hopefully this feature will hit master soon - but from my investigations of this - If we can disable `test:before:run:async` event happening during retries it will fix the hangs.

I'l have a go at putting a hack together.

[2020-07-18 18:12] lukeapage commented on #64
hack:
[code]
I have no idea what the effect of this is, other than it solves the hang issue.

Interestingly after the 2nd retry a test gets very, very slow - something bad is happening, look forward to this functionality reaching core.

[2020-07-22 14:49] nanivijay commented on #64
@lukeapage where would i be adding this hack? plugins/index.js?

[2020-07-22 15:03] lukeapage commented on #64
Support/index.js but actually it’s caused some of our screenshots to be half written and invalid :(

[2020-07-22 15:25] nanivijay commented on #64
Oh. Then i will wait for a proper fix. Thanks @lukeapage

[2020-07-22 22:37] vcamposs opened #69 "When all test failed, cypress dont stop"
Hello,
when all test failed, cypress dont stop (in headless too).

This is a Is this a known issue?

Tks =]

![PPT Draft (5)](https://user-images.githubusercontent.com/11475437/88235985-60b3c480-cc52-11ea-98fa-cb7d2370669a.png)

[2020-08-01 03:46] craigryan opened #70 "fyi - using plugin with typescript support index.ts"
We have an nx monorepo with apps/proj-e2e directory. Cypress is set up with plugins/index.js and require('cypress-plugin-retries/lib/plugin')(on) as required. However, the support files were setup with typescript - index.ts, app.po.ts etc. Trying this:

require('cypress-plugin-retries');

Failed when running a single spec with the error
TS2339: Property 'currentTest' does not exist on type 'Cypres

[2020-08-04 10:55] pvishnu991 commented on #10
excellent piece of work @lukeapage . This basically worked like a charm for me.

[2020-08-04 10:57] Cubo25 commented on #10
@lukeapage Man thanks a lot ! It saved us on our project

[2020-08-06 11:57] Cubo25 commented on #64
Having exactly same issue ... hanging assertions. Hopefully somebody will fix this soon ! I meanwhile I will try the hack from @lukeapage so thanks for that. ✋

[2020-08-08 18:09] azuruce opened #71 "cypress-plugin-retries incompatible with cypress-plugin-snapshots"
1.5.2 cypress-plugin-retries
1.4.3 cypress-plugin-snapshots
symptom is if retry happens, the snapshot will not know it is a retry and will keep matching the snapshot from middle of the run. Let's say there are two snapshots in a test, snapshot1, and snapshot2. In a test, both will be checked in sequence. But if snapshot1 passed, and then test failed before snapshot2 is checked, the retry will reru

[2020-08-12 15:26] atemor opened #72 "It is possible to retries a testfiles gloably ?"
So far I am able to retries a test that is in a `it('',)=>{})`

But it is possible if to do the same with a describe ?

I mean if a `it('',)=>{})` failed, I would like to re run all the `it('',)=>{})` in the discribe

[2020-08-18 14:05] Cubo25 commented on #64
@zbigniewkalinowski our team find out that if you use for example .should('contains', xxx) then it hangs. We are using just plain cy.contains(xxx) instead and its working fine.

[2020-08-22 17:38] tamaker opened #73 "Environment variable for x seconds delay before retries"
Awesome work on this.  Thanks for your hard work.    Is there support for or plans to allow for the setting of an integer variable in ENVIRONMENT vars that can be used as a global wait time between retries?  I saw a previous question that touched on the issue and seemed to include / prescribe using 'test:before:run:async'(?)...  just wondering if it ever dawned on you to make the delay time betwee

[2020-08-24 15:09] mattrlong commented on #32
Hi @Bkucera, do you know if this above logic is available with the native Cypress retries implementation in v5?

[2020-08-25 15:01] Bkucera commented on #32
@mattrlong good question. If you use `function () {}` syntax for your test callback you may use `this.test.currentRetry()`.

Otherwise you can use `cy.state('test').currentRetry()`.

[2020-08-25 15:54] mattrlong commented on #32
this.test.currentRetry() only works within .it statements. Some of our retry handling resides within mocha hooks, which always returns 0. This approach would also mean needing to determine the retry number within the tests and passing into any imported modules, so becomes a quite messy.

`cy.state('test').currentRetry()` looks to offer what we need though 👍

[2020-08-25 21:05] Bkucera commented on #73
here's an example:

[code]

[2020-08-25 21:05] #73 closed

[2020-08-25 21:11] Bkucera commented on #64
Retries is now in core in cypress 5.0 so I'm closing this. Please open an issue in the main cypress repo if you're experiencing this in 5.0. Thanks!

[2020-08-25 21:11] #64 closed

[2020-08-25 21:13] Bkucera commented on #7
afterEach hooks are retried as part of test retries added in Cypress 5.0. https://docs.cypress.io/guides/references/migration-guide.html#Tests-retries

[2020-08-25 21:13] #7 closed

[2020-08-25 22:02] zbigniewkalinowski commented on #64
Thanks :) For your information it's reported here:
https://github.com/cypress-io/cypress/issues/8363#issuecomment-678938922

[2020-08-27 17:24] dcmariotti commented on #32
Had the same issue here. `cy.state('test').currentRetry()` solved it. Maybe this Cypress.currentTest.currentRetry deprecation should be better documented on Migration to Cypres 5.0.0.

[2020-10-12 13:19] wasiqkhan786 commented on #53
@YemiYuma  can u tell what was the problem ? I am facing the same issue.running fine locally but on Jenkins throwing error no cypress retries command found

[2020-10-12 14:19] YemiYuma commented on #53
hey guys, I changed the require to import it directly from my _node_modules_ folder, so in my **support/index.js** file:

`import '../../node_modules/cypress-plugin-retries'
`